#npm run reset-project

#Local Storage = npm i @react-native-async-storage/async-storage
#gradients = npx expo install expo-linear-gradient
#npm install react-native-otp-textinput
#npm install expo-image-picker